.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.eric-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #F4F4F4;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.purse-container {
  display: flex;
  background-color: #FDB9C8;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 10%;
  align-self: right;
  justify-content: right;
}
.eric-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: auto;
  width: 500px;
  background-color: #F1F1F1;
  height: 500px;
  margin: 10px;
}

.search-container {
  display: flex;
  background-color: #FDB9C8;
  align-items: center;
  justify-content: center;
  position: right;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}

.form {
  padding: 5px;
  margin: 3px;
}

.btn {
  padding: 5px;
  margin: 3px;
}
.eric-card-images {
  width: 100%;
  height: inherit;
}
